{% extends "base.html" %}
{% block title %}INVITE{% endblock %}
{% block content %}


<h1>MemberPass Test</h1>



<table width="100%">




<tr>
  <td>
    {{member.memberId}} 
  </td>
  

  <td>
    <a href="" class="btn btn-primary" role="button">INVITE</a>
    <a href="" class="btn btn-primary disabled" role="button" aria-disabled="true">send QA</a>
    <!-- <a href="" class="btn btn-primary disabled" role="button" aria-disabled="true">issue-credential</a> -->
    <a href="" class="btn btn-primary disabled" role="button" aria-disabled="true">Get Cred Proof</a>
  </td>
  <td>CREATE INVITE...</td>
  {% else %}
  <td></td>
  <td></td>


  {% endif %}
  <td>
   
    <a href="" class="btn btn-danger disabled" role="button" aria-disabled="true">REMOVE</a>
  </td>
</tr>  


</table>

<hr/>
<pre><code>{{ member }}</code></pre>


{% endblock %}