{% extends "base.html" %}
{% block title %}INVITE{% endblock %}
{% block content %}

<h1>QUESTIONS</h1>
<table width="100%">


{% for question in questions.results %}

<tr>
  
  <td>{{question.created_at}} </td>

  {% if question.state == "answered" %}
  <td>{{question.updated_at}} <br/>answer: {{ question.response}} </td>
  {% else %}
  <td>- - -<br/>-not-answered-</td>
  {% endif %}
  <td>
    {{ question.question_text}}<br/>{{question.question_detail}}
    <!-- <a href="" class="btn btn-primary disabled" role="button" aria-disabled="true">issue-credential</a> -->
  </td>
  <td>
    
    <a href="{{ url_for('deletequestion', threadid=question.thread_id) }}" class="btn btn-danger" role="button">REMOVE</a>
  </td>
</tr>  

{% endfor %}
</table>

<hr/>
<pre><code>{{ questions }}</code></pre>


{% endblock %}